* {
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
}
body {
  font-family: "Ubuntu", sans-serif;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
header {
  position: sticky;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar {
  position: relative;
  display: flex;
  width: 70%;
  height: 100%;
  padding: 5%;
  align-items: center;
  justify-content: space-evenly;
}
.navbar li {
  list-style: none;
}
.navbar li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  border-bottom: 4px solid transparent;
  transition: 0.5s;
}

.navbar li a:hover {
  font-weight: 900;
}
.navbar li a:focus :active {
  font-weight: 900;
}
.logo {
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  height: 100%;
  /* padding: 0 10px; */
  padding: 3%;
}
.searchbox {
  position: relative;
  width: 40%;

  justify-content: space-evenly;
}
.searchbox input {
  border: none;
  outline: none;
  border-radius: 8px;
  width: 50%;
  height: 15px;
  font-size: 14px;
  padding: 1%;
  text-indent: 5%;
}
#searchIcon {
  font-size: 18px;
  cursor: pointer;
}
.fa-solid,
.fa-bag-shopping {
  font-size: 24px;
}
footer {
  margin-top: auto;
  background-color: black;
  color: white;
  padding: 100px 0 30px;
  font-size: 15px;
  line-height: 20px;
  position: absolute;
  width: 100%;
}
footer .row {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
footer .row .col .logo {
  flex-basis: 25%;
  padding: 10px;
  display: block;
  /* text-align: center; */
  font-size: 2em;
  margin-bottom: 20px;
}
footer .row .col p {
  /* text-align: center; */
  margin-bottom: 20px;
}
footer .row .col {
  flex-basis: 25%;
  padding: 10px;
}
footer .row .col h3 {
  text-transform: capitalize;
  position: relative;
  margin-bottom: 20px;
  letter-spacing: 2px;
  font-size: 20px;
}
footer .row .col li {
  list-style: none;
  margin-bottom: 12px;
}
footer .row .col li a {
  text-decoration: none;
  color: white;
  transition: 0.4s;
}
footer .row .col li a:hover {
  font-weight: 900;
  /* text-decoration: underline; */
  padding-left: 5px;
}
footer .row .col i {
  font-size: 20px;
  width: 40px;
  height: 40px;
  margin-left: 8px;
}
#waterMark {
  margin-left: 80px;
}
#waterMark a {
  color: aqua;
  text-decoration: none;
}
.hero {
  text-align: center;
  font-weight: 900;

  width: 100%;
  overflow: hidden;
}
.hero h1 {
  padding: 30px 0 0 0;
  font-size: 50px;
  font-weight: 900;
}
.hero h1:hover {
  box-shadow: 5px 5px 5px grey;
}
.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.promotion-iphone {
  /* padding: 40px 0 0 0; */
  background: black;
  text-align: center;
  color: white;
  line-height: 40px;
  overflow: hidden;
}
.promotion-iphone img {
  width: 80%;
  height: 100%;
  object-fit: cover;
}
.promotion-iphone h1 {
  background: linear-gradient(white 0%, rgb(216, 13, 216) 70%);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 900;
  font-style: bold;
  font-size: 40px;
}
.promotion-mac {
  position: relative;
  padding: 40px 0 0 0;
  background: white;
  text-align: center;
  color: black;
  line-height: 045px;
  overflow: hidden;
}
.promotion-mac img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.promotion-mac h1 {
  font-size: 50px;
  padding: 0 0 10px 0;
}
#btn {
  padding: 8px 20px;
  font-size: 18px;
  border-radius: 20px;
  background-color: rgb(44, 111, 255);
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
}
.promotion-ipad {
  padding: 40px 0 0 0;
  background: black;
  text-align: center;
  color: white;
  line-height: 45px;
  overflow: hidden;
}
.promotion-ipad img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.promotion-ipad h1 {
  font-weight: 900;
  font-size: 50px;
}
.promotion-watch {
  padding: 50px 0;
  background: white;
  text-align: center;
  color: black;
  line-height: 30px;
  width: 100%;
  overflow: hidden;
}
.promotion-watch img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.promotion-watch h1 {
  line-height: 30px;
  font-weight: 900;
  font-size: 38qpx;
  padding: 0 0 20px 0;
}
.promotion-watch h2 {
  margin-bottom: 15px;
}
@media (max-width: 768px) {
  header {
    display: block;
    height: 50%;
  }

  .navbar {
    position: relative;
    align-items: center;
    font-size: 40px;
    margin: 0 60px;
  }

  .navbar li {
    padding: 0 10px;
    display: flex;
    font-size: 18px;
  }
  .searchbox {
    width: 90%;
    text-align: center;
    margin: 0 30px;
  }
  .searchbox input {
    height: 30px;
  }
  .hero h1 {
    font-size: 28px;
  }
  .promotion-mac h1 {
    font-size: 28px;
  }
  .promotion-ipad h1 {
    font-size: 32px;
  }
  .promotion-watch h2 {
    font-size: 24px;
  }

  footer {
    position: unset;
  }
  footer .row .col {
    flex-basis: 100%;
    padding: 0;
    margin: 10px;
  }
  footer .row .col .social {
    display: flex;
  }
}
